*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #6BB1BA;
    flex-direction: column;
}

.stopwatch__main{
    text-align: center;
    padding: 2rem;
    color: #1F3F43;
}

.stopwatch__title{
    font-size: 4rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.stopwatch__description{
    font-size: 1rem;
    padding-bottom: 2rem;
    ;
}

.stopwatch__timer{
    font-size: 5rem;
}

.stopwatch__btn{
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    margin: 0 0.5rem;
    background: transparent;
    border: 1px solid #1F3F43;
    color: #1F3F43;
}

.stopwatch__btn:hover{
    background:#1F3F43;
    color: #fff;
}

.transition{
    transition: all 0.2s ease-in-out;
}